* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #09090b;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100svh;
  padding: 1.5rem;
  border-radius: 15px;
  color: #f1f5f9;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
}

.about-me-container {
  background-color: red;
  width: 35%;
  height: 100%;
}

.projects-container {
  background-color: blue;
  width: 65%;
  height: 100%;
}

.checkered-background {
  background-color: #09090b;
  background-size: cover;
}

.checkered-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  pointer-events: none;
  z-index: 0;
}
